* {
  margin: 0;
  padding: 0 10px;
}

/* #toc {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 30%px;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);

}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.logo {
  border: 1px solid black;
  border-top-width: 20px;
  text-transform: uppercase;
  /* - все символы заглавные  */
  text-transform: lowercase;
  /* - все символы строчные  */
  text-transform: capitalize;
  /* - каждое слово с заглавной буквы */
}

/* .ol {
    padding: 0;
    margin: 0;
    /* Убираем отступы у списка */
/* } */
h2 {
  text-transform: uppercase;
  margin: 0;
}

xmp {
  color: green;
  font-weight: 800;
  padding: 0;
  font-size: 20px;
}

pre {
  color: rgb(2, 0, 128);
  font-weight: 800;
  padding: 0;
  font-size: 20px;
}

li {
  text-transform: uppercase;
}

.red {
  color: red;
}

li .red {
  color: red;
}

a {
  font-size: 20px;
}

.menu {
  position: fixed;
  right: 10px;
  top: 170px;
  border: 2px solid white;
  padding: 5px 10px;
  /* border-color: red; */
  /* margin: 40px; */

  align-self: center;
  height: 400x;
  min-width: 150px;
  border-radius: 40px;
  /* text-align: center; */
  padding-left: 5px;
  cursor: pointer;
  line-height: 28px;
  z-index: 1;
  user-select: none;
  transform: scale(1);

  background-color: aqua;

  /* -webkit-backface-visibility: hidden; */

  /* border: 1px solid red; помогает увидеть границы меню при настройке */
}

@viewport {
  user-zoom: fixed;
}

.menu_inner {
  margin: 10px 0;
  /* отступ сверху 25, а побокам 0 */
  /* display: flex; */
  /* выводим блоки в одну строку */
  /* justify-content: space-between; */
  /* Раскидываем блоки по краям */
  align-items: center;
  /* Выравнивание по вертикали */
}
#openModal {
  float: right;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;

}
#openModal:hover,
#openModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}