/* * {
    /* margin: 0; */
/* padding: 0;
} */

#toc {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* .ol {
    padding: 0;
    margin: 0;
    /* Убираем отступы у списка */
/* } */